.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.container h1{
    font-size: 50px;
}
.button_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.button_container a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}